{{backgrounds/gradient-background}}

{{#slide.content}}
  <div class="text-3xl flex">
    <h1 class="text-white p-2 self-center flex-1">
      ember-animated
    </h1>
  </div>

  <div class="flex items-stretch w-full h-full">
    <div class="flex-1 w-1/2">
      {{#animated-container}}
        {{#animated-each leftItems use=listTransition as |logo|}}
          <div {{action "move" logo}}>
            {{#animated-value logo group="images" use=routeTransition duration=1000}}
              <img class="mascot-detail-image w-32" src="{{logo}}" />
            {{/animated-value}}
          </div>
        {{/animated-each}}
      {{/animated-container}}
    </div>
    <div class="flex-1 w-1/2">
      {{#animated-container}}
        {{#animated-each rightItems use=listTransition as |logo|}}
          <div {{action "move" logo}}>
            {{#animated-value logo group="images" use=routeTransition duration=1000}}
              <img class="mascot-detail-image w-32" src="{{logo}}" />
            {{/animated-value}}
          </div>
        {{/animated-each}}
      {{/animated-container}}
    </div>
  </div>
{{/slide.content}}