{{#slide.content as |content|}}

  <p class="p-4 text-xl text-pink-light">
    So here is that same component running in my slides and being controlled from my phone
  </p>

  <p class="p-4">
    {{content.button
      text="toggle task highlight"
      onClick=(action (broadcast-to-role 'screen' 'toggleTaskHighlight'))
    }}

    {{content.button
      text="toggle generator highlight"
      onClick=(action (broadcast-to-role 'screen' 'toggleGeneratorHighlight'))
    }}
  </p>

  <p class="p-4">
    {{content.button
      text="perform"
      onClick=(action (broadcast-to-role 'screen' 'startTask'))
    }}

    {{content.button
      text="cancel"
      onClick=(action (broadcast-to-role 'screen' 'cancelTasks'))
    }}

    {{content.button
      text="clear"
      onClick=(action (broadcast-to-role 'screen' 'clearTasks'))
    }}
  </p>

{{/slide.content}}

